
*{
	border-sizing:border-box;
}

nav{
	position:absolute;
	background:none;
	z-index: 999;
	border:0;
	border-radius:none;
}

.fondopaisaje{
	position:absolute;
	top: 0;
}

.nav-wrapper ul {
  text-align: center;
  li {
    display: inline;
    float: none;
  }
}

ul li a {
  display: inline-block;

}

img, legend{
   background-position: center;
   background-size: cover;
   height:100vh;
   width: 100%;
  
}